.header {
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
}

.header__logo {
  width: 40px;
  height: 40px;
}

.header__burger {
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  background: url('../../images/burger-icon.svg') no-repeat transparent center;
  border: none;
}
